/* footer {
    
} */
#footer_total {
    background-color: #0D0D12;
    margin-top: 3rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
}
.footer_first--column {
    display: flex;
    flex-direction: column;
    width: 20%;
}
/* .footer_first--column img {
    width: 80%;
} */
.footer_first--bottom p{
    color: snow;
    font-size: 1.3rem;
    padding: 1rem 0;
}
.footer_second--column ,.footer_third--column, .footer_fourth--column, .footer_fifth--column{
    color: snow;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer_second--column ul,.footer_third--column ul,.footer_fourth--column ul {
    margin-top: 1rem;
}
 
.footer_second--column ul li,.footer_third--column ul li,.footer_fourth--column ul li {
    padding: 0.5rem 0;
    cursor: pointer;
}
.footer_input--total {
    position: relative;
}

.footer_fifth--column .footer_input--total input {
    padding: 1.5rem;
    border: none;
    outline: none;
    border-radius: 0.8rem 0 0 0.8rem;
    transition: all 0.3s ease-in-out;
}
.footer_fifth--column .footer_input--total input:focus {
    box-shadow: 0.1rem 0.3rem 0.6rem #ccc;
}
.footer_fifth--column .footer_input--total i {
    background: blue;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: snow;
    border-radius: 0 0.8rem 0.8rem 0;
    position: absolute;
    top: -0.1rem;
}
.footer_fifth--column .footer_social--total {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
.footer_fifth--column .footer_social--total i {
    background-color: #343444;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
}
.footer_social--total i:hover {
    -webkit-animation: rotate-center 1s ease-in-out both;
	        animation: rotate-center 1s ease-in-out both;
            box-shadow: 0.1rem 0.1rem 0.1rem #ccc;
}
@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }