header {
  top: 0;
  z-index: 10;
  background-color: #14141f;
  transition: all 0.5s ease-in-out;
}
.test {
  position: sticky;
  width: 95%;
  text-align: center;
  top: 2rem;
  left: 2rem;
  box-shadow: 0.1rem 0.1rem 0.5rem snow;
  transform: rotateX(360deg);
  border-radius: 1.2rem;
  border-bottom: none;
}
#total_header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5rem 2rem;
  border-bottom: 0.1rem solid #343444;
}

#total_header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#total_header .nav__logo img {
  width: 10rem;
}
.first-mega {
  width: 100%;
  padding-top: 10rem;
  position: absolute;
  color: wheat;
  top: 4.5rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: snow;
  visibility: 0;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
}
.first-mega li {
  width: 100%;
  border-bottom: 0.1rem solid #eee;
  transition: all 0.2s ease-in-out;
}

.first-mega li a {
  padding: 1rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.first-mega li a:hover,
.first-mega li:hover {
  color: #4e3fee;
  margin-right: 0.2rem;
}
.first_ul > li {
  position: relative;
  transition: all 1s ease-in-out;
}
.first_ul li:hover > .first-mega {
  color: #000;
  display: flex;
  visibility: 1;
  transform: scaleY(1);
}
.header_ul .first_ul {
  display: flex;
  justify-content: space-around;
  color: snow;
}
.header_ul li:not(.register--li) {
  padding: 0 1rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_ul .first_ul li a {
  transition: all 0.3s ease-in-out;
}
.header_ul .first_ul li a:hover {
  transform: scale(1.1);
  transform-origin: right;
  color: blueviolet;
}
.header_ul .first_ul > li > a {
  color: snow;
  padding: 0 0.5rem;
  cursor: pointer;
}
.header_ul ul li i {
  font-size: 1rem;
}
.register--li {
  border: 0.1rem solid #4e3fee;
  padding: 1rem;
  border-radius: 1rem;
}
.header_search_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.header_search_button div {
  border: 0.2rem solid #4e3fee;
  padding: 0.5rem 2rem;
  border-radius: 2.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header_search_button i {
  color: snow;
}
.header_search_button div:hover {
  box-shadow: 0.1rem 0.1rem 0.5rem #fff;
}

.header_search_button .glass {
  margin-right: 2rem;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.header_search_button div button {
  background: none;
  outline: none;
  padding: 0.5rem;
  border: none;
  color: snow;
}
.search_input {
  display: none;
  width: 25rem;
}
.search_input--show {
  display: block;
  position: absolute;
  top: 6rem;
  right: 8rem;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  border-radius: 0.8rem;
}
.header_search_button .delete {
  position: absolute;
  top: 7rem;
  color: #000;
  right: 8.5rem;
  display: none;
  cursor: pointer;
}
.themes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
}

.themes img {
  background-color: #343444;
  width: 3.7rem;
  height: 3.7rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.light_mode {
  background: snow;
  color: black;
}
.dark_mode {
  background-image: linear-gradient(to right, #14141f, #250731);
  color: snow;
}
