main {
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem 2rem;
}
.hero_total {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.hero_total--left {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero_total h1 {
    color: snow;
    font-size: 6rem;
}
/* .hero_total h1 span {
    background-image: linear-gradient(to right,#ccc,#fff);
    background-clip: text;
    background-color: transparent;
} */
.hero_total h3 {
    color: #adadb0;
    margin-top: 2rem;
}
.hero_total .hero_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-top: 2rem;
}
.hero_total .hero_buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    border: 0.1rem solid #4e3fee;
    margin: 0 1.5rem;
    border-radius: 2.2rem;
    color: snow;
    transition: all 0.3s ease-in-out;
    
}
.hero_total .hero_buttons div:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem #fff;
    color: #4e3fee;
}
.hero_total .hero_buttons button {
    padding: 0.5rem 1.5rem;
    background: none;
    border: none;
    color: snow;
}
.hero_total--right {
    width: 50%;
    text-align: center;
    position: relative;
}
.hero_total--right img {
    width: 40%;
}
.hero_total--right img,.hero_total--right .line {
    animation: hero 15s alternate infinite;
}
.hero_total--right .circle {
    border-radius: 50%;
    position: absolute;
}
.hero_total--right .line {
    position: absolute;
    width: 50rem;
    top: 3rem;
    right: 6rem;
}
.circle-f1{
    top: 10rem;
    left: 2rem;
    width: 8rem;
    height: 8rem;
    background-image: linear-gradient(to right,blueviolet,rgb(128, 4, 243));
    animation: circle 10s alternate infinite;
}
.circle-e1 {
    position: relative;
    background-image: linear-gradient(to right,blueviolet,rgb(128, 4, 243));
    top: 25rem;
    left: 3rem;
    width: 5rem;
    height: 5rem;
    animation: circle 8s alternate infinite;
}

.circle-f2 {
    
    top: 20rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    background-image: linear-gradient(to right,blueviolet,rgb(128, 4, 243));
    animation: circle 5s alternate infinite;
    
}
.first--star {
    color: blueviolet;
    position: absolute;
    font-size: 3rem;
    animation: star1 10s alternate infinite ;
    top: 5rem;
    right: 10rem;
}
@keyframes circle {
    from {
        transform: translateX(5rem);
    }
    to {
        transform: translateX(-5rem);
    }
}
@keyframes star1 {
    from {
        transform: rotate(180deg);
        right: 20rem;
        
    }
    to {
        
        transform: rotate(-180deg);
        bottom: 20rem;
    }
}
@keyframes hero {
    from {
        transform: translateY(2rem);
    }
    to {
        transform: translateY(-2rem);
    }
}