#todays_picks {
    margin-top: 2rem;
    width: 100%;
}
.todays_picks_total {
    display: flex;
    flex-direction: column;
    color: snow;
    padding: 3rem;
}
.todays_picks_total .todays_picks--firstRow {
    display: flex;
    justify-content: space-between;
}
.todays_picks_total .todays_picks--firstRow h3 {
    font-size: 2.5rem;
}
.todays_picks_total .todays_picks--firstRow span {
    border-bottom: 0.1rem solid snow;
}
.todays_picks--secondRow {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.todays_picks--secondRow .secondRow_left {
    display: flex;
    
}
.todays_picks--secondRow .secondRow_left div {
    padding: 0.8rem 2rem;
    border: 0.1rem solid #256825;
    border-radius: 1.8rem;
    margin: 0 1rem;
    cursor: pointer;
}
.todays_picks--secondRow .secondRow_right {
    display: flex;
    padding: 0.8rem 2rem;
    border: 0.1rem solid #256825;
    border-radius: 1.8rem;
    margin: 0 1rem;
    cursor: pointer;
}
.todays_picks--thirdRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
}
.todays_picks--thirdRow .thirdRow_image--container {
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #343444;
    border-radius: 1.5rem;
    padding: 1rem 0.5rem;
    gap: 0.5rem;
    transition:all 0.2s ease-in-out;
    cursor: pointer;
    
}
.thirdRow_image--container:hover {
    transform:scale(0.90);
}
.thirdRow_image--banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.thirdRow_image--banner img {
    max-width: 25rem;
    border-radius: 2rem;
    padding: 0.5rem;
}
.image_banner--likeIcon {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    background-color: #000;
    border-radius: 0.8rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}
.thirdRow_image--title h4 {
    color: snow;
    padding: 1rem 0;
}
.thirdRow_image--description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 0.1rem solid;
}
    

.thirdRow_description--left {
    display: flex;
    padding: 0.5rem;
    color: snow;
}
.thirdRow_description--left img {
    width: 5rem;
    border-radius: 1rem;
}
.thirdRow_description--left .desc_left--names {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-left: 1rem;
    gap: 0.5rem;
}
.thirdRow_description--left .desc_left--names .left_names--creator {
    color: #fff;
    font-size: 1.2rem;
}
.description--right {
    padding: 0.5rem;
    font-size: 1.2rem;

}
.thirdRow_currentBid--total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.thirdRow_currentBid--left > span,.crypto--asset2 {
    font-size: 1.2rem;
    color: #ccc;
}
.thirdRow_currentBid--right {
    align-self: center;
}
.todays_picks--fourthRow {
    margin-top: 2rem;
    padding: 2rem;
}
.todays_picks--fourthRow .btn_load_more {
    text-align: center;
   
}
.btn_load_more button {
    padding: 1.5rem 2.5rem;
    border-radius: 2.5rem;
    border: 0.1rem solid snow;
    color: snow;
    outline: none;
    font-size: 1.3rem;
    background-color: #14141f;
    transition:all 0.3s ease-in-out;
}
.btn_load_more button:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem #fff;
    transform: scale(0.90);
}
