#popular_collection {
    margin-top: 7rem;
    background-color: var(--dark-color);
}
.popular_collection_total {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
.popular_collection--title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    padding: 0 3rem;
    color: var(--light-color);
}
.popular_collection--title span {
    border-bottom: 0.1rem solid var(--light-color);
    cursor: pointer;
    border-bottom: 0.1rem solid var(--blueViolet-color);
    transition: all 0.3s ease-in-out;
}
.popular_collection--title span:hover {
    transform: scaleY(1.2);
    position: relative;
}

.popular_collection_total .popular_collection_cards_total {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.popular_collection--card {
    background-color: var(--darkGray-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.2rem;
    max-width: 30%;
    padding: 1rem;
    max-height: 37rem;
    
}

.popular_collection--card .card--top {
    display: flex;
    justify-content: space-around;
    height: 40%;
}
.popular_collection--card .card--top img {
    border-radius: 2rem;
    width: 50%;
    padding: 0.5rem;
    object-fit: cover;
}
.popular_collection--card .card--middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.popular_collection--card .card--middle img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 2rem;
    gap: 0.5rem;
    padding: 0.5rem;
    object-fit: cover;
}

.popular_collection--card:first-child .card--middle img {
    width: 11.5rem;
    padding-right: 0.5rem;
}
.popular_collection--card .card--down {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.popular_collection--card .card--down .card_down--left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}
.card_down--left .card_down--titles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5rem;
}
.card_down--left .card_down--titles .card_down_names--creator {
    color: var(--black-color);
}
.card_down--left .card_down--titles .card_down_names--name {
    color: var(--lightGray-color);
}

.popular_collection--card .card--down img {
    max-width: 5rem;
    border-radius: 0.8rem;
    object-fit: cover;
}
.popular_collection--card .card_down--right {
    background-color: var(--lightGray-color);
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    align-self: center;
}



