#popular_collection {
    margin-top: 7rem;
}
.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    background-color: var(--dark-color);
    padding: 2rem;
    gap: 2rem;
}
.popular_collection_total {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
.popular_collection--title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    padding: 0 3rem;
    color: var(--light-color);
}
.popular_collection--title span {
    border-bottom: 0.1rem solid var(--light-color);
    cursor: pointer;
    border-bottom: 0.1rem solid var(--blueViolet-color);
    transition: all 0.3s ease-in-out;
}
.popular_collection--title span:hover {
    transform: scaleY(1.2);
    position: relative;
}

.popular_collection_total .popular_collection_cards_total {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.image_container {
    
    display: flex;
    flex-direction: column;
    background-color: #323241;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
}
.image_container_top {
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    
}

.image_container_top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: none;
    
    
}
.img-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}
 .img-1 {
    grid-column: 1/4;
    grid-row: 1/2;
}
 .img-2 {
    grid-column: 4/-1;
    grid-row: 1/2;
}
 .img-3 {
    grid-column: 1/3;
    grid-row: 2/-1;
}
 .img-4 {
    grid-column: 3/5;
    grid-row: 2/-1;
}
 .img-5 {
    grid-column: 5/-1;
    grid-row: 2/-1;
}

.image_container_down {
    display: flex;
    justify-content: space-between;

}
.card_details_container_left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.avatar_container {
    position: relative;
}
.avatar_container img {
    width: 6rem;
    border-radius: 2rem;
}
.avatar_container i {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 0.2rem;
    position: absolute;
    right: 0.1rem;
    bottom: 0.1rem;
}
.avatar_text {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.card_details_container_right {
    display: flex;
    width: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    align-self: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.card_details_container_right i, .card_details_container_right span {
    font-size: 1.4rem;
    color: var(--light-color);
}
