/* media Querry */
@media screen and (max-width: 576px) {
    main {
      
      padding: 0.5rem 2rem;
    }
    .nav {
      
      padding: 0;
    }
    .social_sticky--total, .first_ul, .header_search_button {
      display: none;
    }
    #menu {
        display: block;
        
    }
    .register--li {
        border: none;
        padding: 0;
    }
    .first_ul {
        width: 100%;
        position: absolute;
        left: 0;
        top: 8rem;
        background-color: var(--dark-color);
        z-index: 3;
        font-size: 1.8rem;
    }
    .display {
        display: block;
    }
    .first_ul > li {
        display: block;
        margin-top: 2rem;
        padding: 1rem;
    }
    .first-mega {
        top: 2rem;
    }
    .hero_total, .live_auctions--cards, .top_seller--top, .top_seller--down, .todays_picks--thirdRow, .todays_picks--fourthRow {
        flex-direction: column !important;
        gap: 2rem;
    }
    .hero_total--left h1 {
        font-size: 4rem;
    }
    .hero_total--right {
        width: 100%;
        margin-top: 4rem;
        
    }
    .hero_total--right img {
        width: 45%;
        right: 0;
    }
    .hero_total--right .line {
        width: 37rem;
        right: -2rem;
        top: 1rem;
    }
    .circle-f1 {
        width: 6rem;
        height: 6rem;
    }
    .earth {
        bottom: -1rem;
        left: -0.3rem;
    }
    .extra1, .extra2 {
        margin-top: 3rem;
    }
    
    .setup_wallet--total {
        flex-direction: column;
        gap: 2rem;
    }
    .setup_wallet--items {
        padding: 0 0.5rem;
    }
    .live_auctions--total {
        background-color: none;
    }
    .live_auctions--cards {
        padding: 0;
    }
    .live_auctions--title {
        padding: 0 !important;
        font-size: 1.5rem;
    }
    .top_seller--container {
        width: 100% !important;
    }
    #popular_collection {
        width: 100%;
    }
    .grid_container {
        display: block;
        
        
    }
    .image_container {
        
        margin-top: 2rem;
    }
    
    .secondRow_left {
        flex-direction: column;
        gap: 1rem;
    }
   
    #footer_total {
        flex-direction: column;
    }
    
  
}
@media screen and (min-width: 768px) {
    /* .container {
      max-width: 720px;
    } */
}
@media screen and (min-width: 992px) {
  /* .container {
    max-width: 960px;
  } */
}
@media screen and (min-width: 1200px) {
  /* .container {
    max-width: 1140px;
  } */
}

@media screen and (min-width: 1400px) {
  /* .container {
    max-width: 1320px;
  } */
}