
.background {
    background: url(/assets/img/bg.jpg);
    
}


main {
    padding: 0;
    margin-top: 0;
}
.top_items {
    width: 100%;
    height: 12rem;
    
}
.top_items--container {

    width: 100%;
    margin-top: 3rem;
    
}
.top_items--container h1 {
    color: var(--light-color);
    font-size: 3rem;
    
    
}
.top_items--container .menu--items {
    margin-top: 1.5rem;
}
.top_items--container .menu--items a {
    color: var(--light-color);
    
}
.top_items--container .menu--items span:nth-child(1) a,.menu--items span:nth-child(2) a {
    color: rgba(204, 204, 204, 0.76);
}



.fantasy_flower--container {
    display: flex;
    background-color: var(--dark-color);
    width: 100%;
    padding: 5rem;
    gap: 5rem;
    
}
.fantasy_flower--left {
   width: 50%;
}
.fantasy_flower--left img {
    border-radius: 3rem;
    width: 60rem;
}

.fantasy_flower--right {
    width: 50%;
    gap: 1rem;
    
}
.fantasy_flower--right h2 {
    display: flex;
    justify-content: flex-start;
    color: var(--light-color);
}

.fantasy_flower--right .fantasy_flower--title {
    width: 100%;
    text-align: center;
}
.viewIcon, .likeIcon {
    background-color: #000;
    margin: 0 0.5rem;
    padding: 1rem;
    color: var(--light-color);
    border-radius: 2rem;
    font-size: 1.2rem;
}
.viewIcon i, .likeIcon i {
    margin: 0 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.viewIcon i:hover {
    color: var(--primary-color);
}
.sendIcon, .ThreeDotsIcon {
    background-color: var(--darkGray-color);
    color: var(--light-color);
    border-radius: 50%;
    padding: 1rem;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sendIcon i, .ThreeDotsIcon i{
    font-size: 1.5rem;
}
.fantasy_flower--names {
    
    width: 100%;
}
.fantasy_flower--names .names--left, .fantasy_flower--names .names--right {
    background-color: var(--darkGray-color);
    color: var(--light-color);
    width: 45%;
    border-radius: 2rem;
}
.fantasy_flower--names .names--left > div, .fantasy_flower--names .names--right > div {
    margin-left: 1rem;
    gap: 0.5rem;
}
.fantasy_flower--names .names--left > div span, .fantasy_flower--names .names--right > div span {
    color: #ccc;
}
.fantasy_flower--names img {
    width: 7rem;
    border-radius: 2.5rem;
    padding: 1rem;
}
.fantasy_flowers--paragraph {
    color: rgba(204, 204, 204, 0.692);
}
.fantasy_flower--icons {
    width: 100%;
}
.fantasy_flower--icons .likeIcon i{
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.fantasy_flower--icons .likeIcon i:hover {
    color: red;
}
.fantasy_flower--totalPrice {
    width: 100%;
}
.totalPrice--left, .totalPrice--right {
    width: 45%;
    background-color: var(--darkGray-color);
    color: var(--light-color);
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
}
.totalPrice--left .number--crypto span:nth-child(2) {
    color: #ccc;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}
.countDown {
    width: 100%;
}
.fantasy_flower--bidButton {
    width: 100%;
    background-color: none;
    border: 0.1rem solid var(--light-color);
    color: var(--light-color);
    border-radius: 3.5rem;
    margin-top: 1.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.fantasy_flower--bidButton:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    
}
.fantasy_flower--bidButton:hover button {
    color: var(--dark-color);
}
.fantasy_flower--bidButton button {
    color: var(--light-color);
    border: none;
    outline: none;
    padding: 1rem;
    background: none;
    font-weight: bold;
}
.fantasy_flower--info {
    border-bottom: 0.1rem solid var(--light-color);
    width: 100%;
}
.fantasy_flower--info span {
    padding: 0 1rem;
    color: var(--light-color);
    font-weight: bold;
}
.fantasy_flower--info span:first-child {
    border-bottom: 0.1rem solid var(--primary-color);
    color: var(--primary-color);

}
.fantasy_flower--infoProperties, .fantasy_flower--infoProperties2, .fantasy_flower--infoProperties3 {
    width: 100%;
}
.fantasy_flower--infoProperties, .fantasy_flower--infoProperties2 {
    border-bottom: 0.1rem solid var(--darkGray-color);
}


.info--names .infoNames--top h4 {
    color: var(--light-color);
    padding: 0 0.5rem;
    margin: 0.5rem;
}
.infoProperties--left span {
    color: var(--darkGray-color);
    padding: 0 1rem;
    margin: 0.5rem 0; 
}
.infoProperties--right {
    color: var(--light-color);
}
.fantasy_flower--infoProperties img, .fantasy_flower--infoProperties2 img, .fantasy_flower--infoProperties3 img {
    width: 7rem;
    padding: 1rem;
    border-radius: 2.3rem;
    position: relative;
}
.fantasy_flower--infoProperties .image, .fantasy_flower--infoProperties2 .image, .fantasy_flower--infoProperties3 .image {
    position: relative;
}
.fantasy_flower--infoProperties .image i, .fantasy_flower--infoProperties2 .image i, .fantasy_flower--infoProperties3 .image i {
    position: absolute;
    right: 1rem;
    bottom: 1.1rem;
    color: var(--primary-color);
    
}




#live_auctions {
    margin-top: 0;
}

/* #countdown {
    color: var(--light-color);
    font-size: 1.3rem;
    animation: countDown linear 20s ease-in-out;
}
@keyframes countDown {
    0% {
        content: 20;
    }
    5% {
        content: 19;
    }
    10% {
        content: 18;
    }
    15% {
        content: 17;
    }
    20% {
        content: 16;
    }
    25% {
        content: 15;
    }
    30% {
        content: 14;
    }
    35% {
        content: 13;
    }
    40% {
        content: 12;
    }
    45% {
        content: 11;
    }
    50% {
        content: 10;
    }

    55% {
        content: 09;
    }
    60% {
        content: 08;
    }
    65% {
        content: 07;
    }
    70% {
        content: 06;
    }
    75% {
        content: 05;
    }
    80% {
        content: 04;
    }
    85% {
        content: 03;
    }
    90% {
        content: 02;
    }
    95% {
        content: 01;
    }
    100% {
        content: 00;
    }
} */
